@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

.top-desc h2{
    color: rgb(255, 153, 0);
    font-family: 'Acme', sans-serif;
    letter-spacing: 3px;
}

@media (max-width: 800px) {
    .about{
        display: block;
    }
    .top-img{
        width: 100%;
    }
    .top-desc{
        width: 100%;
    }
    .aboutus-bottom{
        padding: 0;
        margin-bottom: 40px;
    }
}
